In [20]:
import pandas as pd
df= pd.read_csv('invscrap.csv')
df.head()

   Unnamed: 0        Date                                               News
0           0  2024-05-01  INTERVIEW: Bosnia's President Denis Bećirovića...
1           1  2024-04-30  Egypt, Belarus sign MoUs to promote bilateral ...
2           2  2024-04-30  Unification of FX in Egypt will attract Emirat...
3           3  2024-04-30  Beltone Investment Holding launches $100 mln p...
4           4  2024-04-24  Austria, Czechia to establish $160 mln sodium ...

In [21]:
df.drop('Unnamed: 0',axis=1, inplace=True)
df.head()

         Date                                               News
0  2024-05-01  INTERVIEW: Bosnia's President Denis Bećirovića...
1  2024-04-30  Egypt, Belarus sign MoUs to promote bilateral ...
2  2024-04-30  Unification of FX in Egypt will attract Emirat...
3  2024-04-30  Beltone Investment Holding launches $100 mln p...
4  2024-04-24  Austria, Czechia to establish $160 mln sodium ...

In [22]:
df.count()

Date    450
News    450
dtype: int64

In [ ]:
import datetime
from urllib.request import urlopen, Request
from bs4 import BeautifulSoup
import pandas as pd
import requests

API_URL = "https://api-inference.huggingface.co/models/ProsusAI/finbert"
headers = {"Authorization": "Bearer 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"}

def query(payload):
    response = requests.post(API_URL, headers=headers, json=payload)
    return response.json()


# Function to extract the maximum probability label
def extract_max_score(text):
    output = query({"inputs": text})
    try:
        sentiment_scores = output[0]
        max_score = max(sentiment_scores, key=lambda x: x['score'])
        return max_score['label']
    except KeyError:
        print("Unexpected response format:", output)
        return None

# Apply the function to the 'text' column
df['sentiment'] = df['News'].apply(extract_max_score)

In [13]:
df

           Date                                               News sentiment
0    2024-05-01  INTERVIEW: Bosnia's President Denis Bećirovića...  positive
1    2024-04-30  Egypt, Belarus sign MoUs to promote bilateral ...  positive
2    2024-04-30  Unification of FX in Egypt will attract Emirat...  positive
3    2024-04-30  Beltone Investment Holding launches $100 mln p...  positive
4    2024-04-24  Austria, Czechia to establish $160 mln sodium ...   neutral
..          ...                                                ...       ...
445  2023-01-03                   Suez Canal: Maximising resources      None
446  2023-01-03  Tunisia unveils economic plan betting heavily ...      None
447  2023-01-03  Ghabbour Auto okays selling 45% stake of its G...      None
448  2023-01-01  Egypt’s sovereign fund attracted EGP 37 billio...      None
449  2022-12-29  President Sisi approves State Ownership Policy...      None

[450 rows x 3 columns]

In [ ]:
 df['sentiment'].isnull().sum()

In [18]:
df.to_csv('investmentsentiment.csv')