In [1]:
from urllib.request import Request, urlopen
import pandas as pd 
from bs4 import BeautifulSoup
import datetime
import pandas as pd
import requests

In [2]:
df = pd.DataFrame(columns=['Date', 'News','Small_Title'])

In [3]:
index_page = 0
index = 0
while True:
    url = f"https://english.ahram.org.eg/UI/Front/Search.aspx?Text=EGX&StartRowIndex={index_page}"
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'}
    req = Request(url, headers=headers)
    page = urlopen(req)
    html = page.read().decode("utf-8")
    soup = BeautifulSoup(html, "html.parser")
    
    the_new = soup.find_all(id=f"ContentPlaceHolder1_dlNewsContent_hyplnkTitle_{index}")
    if the_new !=[]:
        for element in the_new:
            title = element.text


        small_title = soup.find_all(id=f"ContentPlaceHolder1_dlNewsContent_lblAbstract_{index}")
        for element in small_title:
            new_small_title = element.text



        dates = soup.find_all(id=f"ContentPlaceHolder1_dlNewsContent_lblCreationDate_{index}")

        for element in dates:
            date_str = element.get_text()
            date_obj = datetime.datetime.strptime(date_str, '%m/%d/%Y %I:%M:%S %p')
            date = date_obj.date()
            date = str(date)

        new_row = {"Date": date, "News": title,"Small_Title":new_small_title}
        df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
        index = index + 1
        
    else:
        last_index = index +1 
        index_page = index_page+last_index
        index = 0
        
    if date < '2022-2-1':
        break

In [4]:
df.count()

Date           221
News           221
Small_Title    221
dtype: int64

In [5]:
df.drop('Small_Title', axis=1, inplace=True)

In [6]:
df

           Date                                               News
0    2024-03-26  Egypt's bourse fluctuates as Sunday and Monday...
1    2024-03-06  Egypt's bourse indexes reach record high follo...
2    2024-02-21  Egyptian Exchange indexes show mixed performan...
3    2024-02-11  EGX posts collective losses at close of Sunday...
4    2024-02-07  Egyptian Exchange gains over EGP 23 bln on Wed...
..          ...                                                ...
216  2023-01-29  Egyptian bourse's market capital exceeds EGP 1...
217  2023-01-28  Egypt to announce plan for listing public comp...
218  2023-01-22  Egyptian bourse gains EGP 3.2 bln, all indexes up
219  2023-01-19                         Egyptian bourse indices up
220  2022-11-14      Egypt’s EGX30 hits highest level in 32 months

[221 rows x 2 columns]

In [7]:
df.to_csv('Egxscrap.csv')

In [14]:
# using hugging face for sentiment of egx
API_URL = "https://api-inference.huggingface.co/models/ProsusAI/finbert"
headers = {"Authorization": "Bearer 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"}

def query(payload):
    response = requests.post(API_URL, headers=headers, json=payload)
    return response.json()



# Function to extract the maximum probability label
def extract_max_score(text):
    output = query({"inputs": text})
    sentiment_scores = output[0]
    max_score = max(sentiment_scores, key=lambda x: x['score'])
    return max_score['label']

# Apply the function to the 'text' column
df['sentiment'] = df['News'].apply(extract_max_score)

In [3]:
index = 0
index_page = 0
dfinv = pd.DataFrame(columns=["Date", "News", "Small_Title"])

In [16]:
df.drop('Unnamed: 0', axis=1, inplace=True)

# Rename columns if desired
df = df.rename(columns={'Date': 'Date', 'News': 'News', 'sentiment': 'Sentiment'})

# Display the first few rows of the DataFrame
print(df.head())

         Date                                               News Sentiment
0  2024-03-26  Egypt's bourse fluctuates as Sunday and Monday...  negative
1  2024-03-06  Egypt's bourse indexes reach record high follo...  positive
2  2024-02-21  Egyptian Exchange indexes show mixed performan...  negative
3  2024-02-11  EGX posts collective losses at close of Sunday...  negative
4  2024-02-07  Egyptian Exchange gains over EGP 23 bln on Wed...  positive

In [34]:
df.to_csv('egxsentiment.csv')

In [ ]:
df.to_csv('dataegx.csv')

In [4]:
dfinv = pd.DataFrame(columns=['Date', 'News','Small_Title'])

In [5]:
# web scraping of investment news
index_page = 0
index = 0
while True:
    url = f"https://english.ahram.org.eg/UI/Front/Search.aspx?Text=investment&StartRowIndex={index_page}"
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'}
    req = Request(url, headers=headers)
    page = urlopen(req)
    html = page.read().decode("utf-8")
    soup = BeautifulSoup(html, "html.parser")
    
    the_new = soup.find_all(id=f"ContentPlaceHolder1_dlNewsContent_hyplnkTitle_{index}")
    if the_new !=[]:
        for element in the_new:
            title = element.text


        small_title = soup.find_all(id=f"ContentPlaceHolder1_dlNewsContent_lblAbstract_{index}")
        for element in small_title:
            new_small_title = element.text
            dates = soup.find_all(id=f"ContentPlaceHolder1_dlNewsContent_lblCreationDate_{index}")

        for element in dates:
            date_str = element.get_text()
            date_obj = datetime.datetime.strptime(date_str, '%m/%d/%Y %I:%M:%S %p')
            date = date_obj.date()
            date = str(date)

        new_row = {"Date": date, "News": title,"Small_Title":new_small_title}
        dfinv = pd.concat([dfinv, pd.DataFrame([new_row])], ignore_index=True)
        index = index + 1
        
    else:
        last_index = index +1 
        index_page = index_page+last_index
        index = 0
        
    if date < '2022-2-1':
        break

In [6]:
dfinv.count()

Date           450
News           450
Small_Title    450
dtype: int64

In [ ]:
dfinv.drop("Small_Title",axis=1, inplace=True)

In [11]:
dfinv.tail(10)

           Date                                               News
440  2023-01-16  Egypt receives $925 mln with improvements in t...
441  2023-01-12              Defining public-private relationships
442  2023-01-11  UN decries 'intolerable' loss of 5 million chi...
443  2023-01-05  Asian markets rise on 2023 outlook hopes, oil ...
444  2023-01-04  Dubai announces plan to 'double' economy in ne...
445  2023-01-03                   Suez Canal: Maximising resources
446  2023-01-03  Tunisia unveils economic plan betting heavily ...
447  2023-01-03  Ghabbour Auto okays selling 45% stake of its G...
448  2023-01-01  Egypt’s sovereign fund attracted EGP 37 billio...
449  2022-12-29  President Sisi approves State Ownership Policy...

In [12]:
dfinv.to_csv('invscrap.csv')

In [14]:
dfinv.head

<bound method NDFrame.head of            Date                                               News
0    2024-05-01  INTERVIEW: Bosnia's President Denis Bećirovića...
1    2024-04-30  Egypt, Belarus sign MoUs to promote bilateral ...
2    2024-04-30  Unification of FX in Egypt will attract Emirat...
3    2024-04-30  Beltone Investment Holding launches $100 mln p...
4    2024-04-24  Austria, Czechia to establish $160 mln sodium ...
..          ...                                                ...
445  2023-01-03                   Suez Canal: Maximising resources
446  2023-01-03  Tunisia unveils economic plan betting heavily ...
447  2023-01-03  Ghabbour Auto okays selling 45% stake of its G...
448  2023-01-01  Egypt’s sovereign fund attracted EGP 37 billio...
449  2022-12-29  President Sisi approves State Ownership Policy...

[450 rows x 2 columns]>

In [27]:
dfinv = dfinv.rename(columns={'Date': 'Date', 'News': 'News'})

In [29]:
dfinv

           Date                                               News
0    2024-04-30  Egypt, Belarus sign MoUs to promote bilateral ...
1    2024-04-30  Unification of FX in Egypt will attract Emirat...
2    2024-04-30  Beltone Investment Holding launches $100 mln p...
3    2024-04-24  Austria, Czechia to establish $160 mln sodium ...
4    2024-04-23  CBE to cut interest rates by 2% in May; inflat...
..          ...                                                ...
444  2023-01-03                   Suez Canal: Maximising resources
445  2023-01-03  Tunisia unveils economic plan betting heavily ...
446  2023-01-03  Ghabbour Auto okays selling 45% stake of its G...
447  2023-01-01  Egypt’s sovereign fund attracted EGP 37 billio...
448  2022-12-29  President Sisi approves State Ownership Policy...

[449 rows x 2 columns]

In [33]:
dfinv.head()

         Date                                               News
0  2024-04-30  Egypt, Belarus sign MoUs to promote bilateral ...
1  2024-04-30  Unification of FX in Egypt will attract Emirat...
2  2024-04-30  Beltone Investment Holding launches $100 mln p...
3  2024-04-24  Austria, Czechia to establish $160 mln sodium ...
4  2024-04-23  CBE to cut interest rates by 2% in May; inflat...